<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Networking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NetworkingLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9591FFF1A34ED4D00EDB98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C959200A1A34ED4D00EDB98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B35B311A5E89B600FEF93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B35B3B1A5E89B700FEF93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
