<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>7.2</string>
	<key>endpoint</key>
	<string>https://route.cit.api.here.com/routing</string>
	<key>app_id</key>
	<string>Md7NluRqWJiSvODf3Rfx</string>
	<key>app_code</key>
	<string>J-x9IpTC0IvyN_yB5TSOAA</string>
</dict>
</plist>
